* {
    margin:0;
    padding:0;
}

body{
    font-family:Arial, Helvetica, sans-serif;
}


.container{
    width: 100%;
    height: 99%;
}
    

/* .box{
    display: flex;
    justify-content: ;
} */

.box1 {
    
    width: 100%;
    height: 17%;
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid #eeeeee;
    
}

.box2 {
    width: 100%;
    height: 63%;
    border-bottom: 1px solid #eeeeee;
}


.box3 {
    width: 100%;
    height:20%;
    display: flex;
    flex-direction: row;
}



.div1{
    
    width: 100%;
    height: 100%;
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding-left: 4rem;
    padding-right: 4rem;
}

.div2{
    display:flex;
    flex-direction:column;
    align-items:center;
    
}
    


.sawir1{
    width:3rem;
    height: 4rem;
    
    
}


.sawir2{
    width:20rem;
    height: 12rem;
    padding-top: 5rem;
    
    
}

.footer1{
    width:33.33%;
    height: 100%;
    display:flex;
    justify-content:center;
    align-items: center;
    padding-left: 2rem;
}

.footer2{
    width:33.33%;
    height: 100%;
    display:flex;
    justify-content:center;
    align-items: center;
}

.footer3{
    width:33.33%;
    height: 100%;
    display:flex;
    justify-content:center;
    align-items: center;
}

.title {
    color:#26ab5a;
}


.icon{
    width: 3rem;
    height:3rem;
    border:2px solid gainsboro;
    border-radius: 50%;
    margin: 1rem;
}



